In [87]:
#Задание 1. Базовое изучение

"""Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для 
дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых 
метрик для них, кратко описать результаты."""

import pandas as pd
import numpy as np

df = pd.read_csv('horse_data.csv',na_values='?')
df.columns = ['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 
              'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes','capillary_refill_time', 
              'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 
              'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 
              'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 
              'surgical_lesion', 'type_of_lesion1', 'type_of_lesion2', 'type_of_lesion3', 'cp_data']
df = df.iloc[:, [0,1,2,3,4,8,9,12]]
df.head()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,mucous_membranes,capillary_refill_time,abdominal_distension
0,1.0,1,534817,39.2,88.0,4.0,1.0,2.0
1,2.0,1,530334,38.3,40.0,3.0,1.0,1.0
2,1.0,9,5290409,39.1,164.0,6.0,2.0,4.0
3,2.0,1,530255,37.3,104.0,6.0,2.0,NaN
4,2.0,1,528355,NaN,NaN,3.0,1.0,2.0

In [62]:
print('Значение моды: ', df.surgery.mode()[0])

Значение моды:  1.0

In [63]:
print('Значение моды: ', df.Age.mode()[0])

Значение моды:  1

In [64]:
print('Максимальная ректальная температура:', df.rectal_temperature.max())
print('Минимальная ректальная темпиратура:', df.rectal_temperature.min())
print('Значение моды: ', df.rectal_temperature.mode()[0])
print('На осове данных вычислений можно слелать вывод, что у большинства лошадей есть инфекция, о чем говорит повышенная температура')

Максимальная ректальная температура: 40.8
Минимальная ректальная темпиратура: 35.4
Значение моды:  38.0
На осове данных вычислений можно слелать вывод, что у большинства лошадей есть инфекция, о чем говорит повышенная температура

In [65]:
print('Максимальный пульс:', df.pulse.max())
print('Минимальный пульс:', df.pulse.min())
print('Значение моды: ', df.pulse.mode()[0])
print('Большая часть животных с болезненными проявлениями или с нарушением кровообращения')

Максимальный пульс: 184.0
Минимальный пульс: 30.0
Значение моды:  48.0
Большая часть животных с болезненными проявлениями или с нарушением кровообращения

In [112]:
print('Максимальное обозначение состояния слизистых оболочек:', df.mucous_membranes.max())
print('Значение моды: ', df.mucous_membranes.mode()[0])
print('Значение медианы:', df.mucous_membranes.median())

Максимальное обозначение состояния слизистых оболочек: 6.0
Значение моды:  1.0
Значение медианы: 3.0

In [67]:
print('Максимум:', df.abdominal_distension.max())
print('Значение моды: ', df.abdominal_distension.mode()[0])

Максимум: 4.0
Значение моды:  1.0

In [122]:
df.describe()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3,cp_data
count,298.000000,299.00000,2.990000e+02,239.000000,275.000000,241.000000,243.000000,230.000000,253.000000,267.000000,...,270.000000,266.000000,135.000000,102.000000,298.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.395973,1.64214,1.087748e+06,38.166527,71.934545,30.427386,2.345679,2.013043,2.853755,1.303371,...,46.300000,24.517293,2.037037,3.019608,1.550336,1.361204,3632.321070,90.528428,7.387960,1.668896
std,0.489881,2.17730,1.532026e+06,0.733508,28.680522,17.678256,1.046369,1.042672,1.620294,0.476623,...,10.438384,27.509056,0.804905,1.968567,0.737967,0.481155,5390.356722,650.637139,127.749768,0.471399
min,1.000000,1.00000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.00000,5.289040e+05,37.800000,48.000000,18.000000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.500000,0.000000,0.000000,1.000000
50%,1.000000,1.00000,5.303100e+05,38.200000,64.000000,24.000000,3.000000,1.500000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2322.000000,0.000000,0.000000,2.000000
75%,2.000000,1.00000,5.347360e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.00000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [68]:
print('На основе полученых данных можно сделать вывод, что кишечным коликам чаще подвержены взрослые лошади. Проявляется это повышением температуры и нарушением кровообращения. В большинстве случаев лечение возможно только при хирургическом вмешательстве.')

На основе полученых данных можно сделать вывод, что кишечным коликам чаще подвержены взрослые лошади. Проявляется это повышением температуры и нарушением кровообращения. В большинстве случаев лечение возможно только при хирургическом вмешательстве.

In [69]:
#Задание 2. Работа с выбросами

"""В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. 
Принять и обосновать решение о дальнейшей работе с ними."""

'В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. \nПринять и обосновать решение о дальнейшей работе с ними.'

In [76]:
q1 = df.Age.quantile(0.25)
q3 = df.Age.quantile(0.75)
iqr = q3 - q1
lower_Age = q1 - (1.5 * iqr) 
upper_Age = q3 + (1.5 * iqr)
remove_Age = df[df.Age.between(lower_Age, upper_Age, inclusive=True)].sort_values('Age')
# что это за выброс?
pd.concat([df, remove_Age]).drop_duplicates(keep=False)

,surgery,Age,Hospital_Number,rectal_temperature,pulse,mucous_membranes,capillary_refill_time,abdominal_distension
2,1.0,9,5290409,39.1,164.0,6.0,2.0,4.0
8,2.0,9,5299629,38.3,90.0,1.0,1.0,1.0
12,2.0,9,5291329,38.0,92.0,2.0,1.0,2.0
15,1.0,9,5301219,NaN,128.0,4.0,2.0,3.0
22,1.0,9,534998,38.3,130.0,NaN,1.0,NaN
38,1.0,9,5277409,39.2,146.0,NaN,NaN,NaN
40,2.0,9,5288249,39.0,150.0,NaN,NaN,NaN
54,1.0,9,5282839,38.6,160.0,5.0,1.0,4.0
73,1.0,9,5292929,NaN,NaN,NaN,NaN,NaN
74,1.0,9,534092,39.7,100.0,5.0,2.0,NaN
81,1.0,9,5290759,38.1,100.0,2.0,1.0,1.0
102,1.0,9,5292489,38.0,140.0,1.0,1.0,2.0
108,1.0,9,5297379,38.4,84.0,2.0,1.0,3.0
134,1.0,9,5287179,38.1,136.0,3.0,1.0,3.0
190,2.0,9,5287279,NaN,100.0,1.0,1.0,1.0
211,1.0,9,5294369,38.9,120.0,2.0,2.0,3.0
226,1.0,9,5289419,NaN,NaN,NaN,NaN,NaN
228,1.0,9,534597,38.5,120.0,NaN,NaN,NaN
243,1.0,9,5291409,38.2,124.0,2.0,1.0,4.0
251,1.0,9,5291719,38.8,124.0,2.0,1.0,4.0
254,1.0,9,5294539,38.8,184.0,1.0,1.0,3.0
261,2.0,9,5305629,38.6,88.0,NaN,NaN,NaN
274,1.0,9,5297159,38.8,150.0,6.0,2.0,2.0
286,2.0,9,5305129,39.5,84.0,NaN,1.0,NaN

In [125]:
q1 = df.rectal_temperature.quantile(0.25)
q3 = df.rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower_rectal_temperature = q1 - (1.5 * iqr) 
upper_rectal_temperature = q3 + (1.5 * iqr)
remove_rectal_temperature = df[df.rectal_temperature.between(lower_rectal_temperature, upper_rectal_temperature, inclusive=True)].sort_values('rectal_temperature')
# что это за выброс?
pd.concat([df, remove_rectal_temperature]).drop_duplicates(keep=False)

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3,cp_data
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
6,1.0,1,529607,NaN,60.0,NaN,3.0,NaN,NaN,1.0,...,44.0,8.3,NaN,NaN,2.0,1,2208,0,0,2
7,2.0,1,530051,NaN,80.0,36.0,3.0,4.0,3.0,1.0,...,38.0,6.2,NaN,NaN,3.0,1,3205,0,0,2
15,1.0,9,5301219,NaN,128.0,36.0,3.0,3.0,4.0,2.0,...,53.0,7.8,3.0,4.7,2.0,2,1400,0,0,1
19,1.0,1,530157,39.9,72.0,60.0,1.0,1.0,5.0,2.0,...,46.0,6.1,2.0,NaN,1.0,1,2111,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,1.0,1,527544,NaN,70.0,16.0,3.0,4.0,5.0,2.0,...,60.0,7.5,NaN,NaN,2.0,1,1400,0,0,2
287,1.0,1,529428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1,2124,0,0,2
292,1.0,1,534004,NaN,78.0,24.0,3.0,3.0,3.0,1.0,...,43.0,62.0,NaN,2.0,3.0,2,2209,0,0,2
294,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
297,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1

In [126]:
print('У больной лошади температура может доходить до 41,7 градусов, у нас максимальный выброс 40,8. Из этого делаю вывод, что данные необходимо оставить, так как их отсутствие может исказить картину')

У больной лошади температура может доходить до 41,7 градусов, у нас максимальный выброс 40,8. Из этого делаю вывод, что данные необходимо оставить, так как их отсутствие может исказить картину

In [72]:
q1 = df.pulse.quantile(0.25)
q3 = df.pulse.quantile(0.75)
iqr = q3 - q1
lower_pulse = q1 - (1.5 * iqr) 
upper_pulse = q3 + (1.5 * iqr)
remove_pulse = df[df.pulse.between(lower_pulse, upper_pulse, inclusive=True)].sort_values('pulse')
# что это за выброс?
pd.concat([df, remove_pulse]).drop_duplicates(keep=False)

,surgery,Age,Hospital_Number,rectal_temperature,pulse,mucous_membranes,capillary_refill_time,abdominal_distension
2,1.0,9,5290409,39.1,164.0,6.0,2.0,4.0
4,2.0,1,528355,NaN,NaN,3.0,1.0,2.0
27,1.0,1,5279442,NaN,NaN,NaN,NaN,NaN
40,2.0,9,5288249,39.0,150.0,NaN,NaN,NaN
51,2.0,1,529483,NaN,NaN,3.0,1.0,1.0
54,1.0,9,5282839,38.6,160.0,5.0,1.0,4.0
55,1.0,1,528872,NaN,NaN,NaN,NaN,NaN
57,1.0,1,528298,NaN,NaN,3.0,NaN,3.0
73,1.0,9,5292929,NaN,NaN,NaN,NaN,NaN
77,1.0,1,530693,NaN,NaN,3.0,3.0,3.0
92,2.0,1,530310,NaN,NaN,1.0,1.0,3.0
114,2.0,1,533723,NaN,NaN,1.0,1.0,2.0
116,2.0,1,5290482,39.5,NaN,4.0,2.0,3.0
125,1.0,1,530384,38.7,NaN,3.0,1.0,2.0
135,1.0,1,530693,NaN,NaN,3.0,2.0,3.0
150,1.0,1,529399,39.3,NaN,6.0,2.0,2.0
158,2.0,1,528134,NaN,NaN,2.0,1.0,2.0
159,1.0,1,527916,NaN,NaN,NaN,NaN,NaN
173,2.0,1,518476,NaN,NaN,6.0,NaN,4.0
174,1.0,1,527929,NaN,NaN,NaN,NaN,NaN
203,1.0,1,529528,39.2,NaN,3.0,1.0,2.0
206,1.0,1,530297,NaN,NaN,NaN,NaN,NaN
215,2.0,1,528977,NaN,NaN,NaN,NaN,NaN
226,1.0,9,5289419,NaN,NaN,NaN,NaN,NaN
254,1.0,9,5294539,38.8,184.0,1.0,1.0,3.0
274,1.0,9,5297159,38.8,150.0,6.0,2.0,2.0
287,1.0,1,529428,NaN,NaN,NaN,NaN,NaN

In [124]:
print('У лошадей после нагрузки возможен пульс от 180 до 240 ударов в минуту, у нас указан 184 как максимальный. Из этого делаю вывод, что указанные значения могут быть диагностированы у лошадей, у нас не указано, когда именно были данные замеры(после нагрузки или в покое)')

У лошадей после нагрузки возможен пульс от 180 до 240 ударов в минуту, у нас указан 184 как максимальный. Из этого делаю вывод, что указанные значения могут быть диагностированы у лошадей, у нас не указано, когда именно были данные замеры(после нагрузки или в покое)

In [73]:
q1 = df.capillary_refill_time.quantile(0.25)
q3 = df.capillary_refill_time.quantile(0.75)
iqr = q3 - q1
lower_capillary_refill_time = q1 - (1.5 * iqr) 
upper_capillary_refill_time = q3 + (1.5 * iqr)
remove_capillary_refill_time = df[df.capillary_refill_time.between(lower_capillary_refill_time, upper_capillary_refill_time, inclusive=True)].sort_values('capillary_refill_time')
# что это за выброс?
pd.concat([df, remove_capillary_refill_time]).drop_duplicates(keep=False)

,surgery,Age,Hospital_Number,rectal_temperature,pulse,mucous_membranes,capillary_refill_time,abdominal_distension
16,2.0,1,526639,37.5,48.0,NaN,NaN,NaN
18,2.0,1,532110,39.4,110.0,6.0,NaN,3.0
21,1.0,1,521681,38.6,42.0,4.0,NaN,1.0
27,1.0,1,5279442,NaN,NaN,NaN,NaN,NaN
38,1.0,9,5277409,39.2,146.0,NaN,NaN,NaN
40,2.0,9,5288249,39.0,150.0,NaN,NaN,NaN
55,1.0,1,528872,NaN,NaN,NaN,NaN,NaN
57,1.0,1,528298,NaN,NaN,3.0,NaN,3.0
71,1.0,1,5299253,37.7,56.0,NaN,NaN,NaN
73,1.0,9,5292929,NaN,NaN,NaN,NaN,NaN
89,2.0,1,534197,38.0,52.0,NaN,NaN,NaN
112,1.0,1,527933,36.8,60.0,NaN,NaN,NaN
113,1.0,1,532349,38.4,44.0,4.0,NaN,3.0
129,1.0,1,528964,37.8,30.0,NaN,NaN,NaN
148,2.0,1,535314,38.7,48.0,NaN,NaN,NaN
159,1.0,1,527916,NaN,NaN,NaN,NaN,NaN
170,2.0,1,527677,39.0,86.0,5.0,NaN,3.0
173,2.0,1,518476,NaN,NaN,6.0,NaN,4.0
174,1.0,1,527929,NaN,NaN,NaN,NaN,NaN
194,2.0,1,533697,38.0,44.0,1.0,NaN,2.0
201,1.0,1,534073,37.5,48.0,NaN,NaN,NaN
206,1.0,1,530297,NaN,NaN,NaN,NaN,NaN
215,2.0,1,528977,NaN,NaN,NaN,NaN,NaN
226,1.0,9,5289419,NaN,NaN,NaN,NaN,NaN
228,1.0,9,534597,38.5,120.0,NaN,NaN,NaN
231,1.0,1,5262543,38.5,30.0,NaN,NaN,NaN
261,2.0,9,5305629,38.6,88.0,NaN,NaN,NaN
273,1.0,1,534624,NaN,76.0,NaN,NaN,4.0
279,1.0,1,534644,38.6,48.0,1.0,NaN,NaN
282,1.0,1,527758,38.2,72.0,NaN,NaN,NaN
287,1.0,1,529428,NaN,NaN,NaN,NaN,NaN
298,1.0,1,534618,37.2,40.0,NaN,NaN,NaN

In [123]:
print('В столбце "Age" указана цифра 9. Вероятнее всего при вводе данных произошла ошибка(человеческий фактор) и планировали ввести 9 месяцев или 9 лет. И том и в другом случае это приравнивается к взрослой лошади(1), поэтому делаю вывод,что возможно заменить все значения 9 на 1 ')
print('В столбцах "rectal_temperature", "capillary_refill_time" и "pulse" считаю возможным замена пустых строк значение моды. Большие значения в данных строках возможны и считаю целесообразным их оставить')

В столбце "Age" указана цифра 9. Вероятнее всего при вводе данных произошла ошибка(человеческий фактор) и планировали ввести 9 месяцев или 9 лет. И том и в другом случае это приравнивается к взрослой лошади(1), поэтому делаю вывод,что возможно заменить все значения 9 на 1
В столбцах "rectal_temperature", "capillary_refill_time" и "pulse" считаю возможным замена пустых строк значение моды. Большие значения в данных строках возможны и считаю целесообразным их оставить

In [79]:
#Задание 3. Работа с пропусками

"""Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с 
пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать."""

df.head()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,mucous_membranes,capillary_refill_time,abdominal_distension
0,1.0,1,534817,39.2,88.0,4.0,1.0,2.0
1,2.0,1,530334,38.3,40.0,3.0,1.0,1.0
2,1.0,9,5290409,39.1,164.0,6.0,2.0,4.0
3,2.0,1,530255,37.3,104.0,6.0,2.0,NaN
4,2.0,1,528355,NaN,NaN,3.0,1.0,2.0

In [80]:
#количество выбросов для всех выбранных столбцов
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).sum()

surgery                   0
Age                      24
Hospital_Number          36
rectal_temperature       14
pulse                     5
mucous_membranes          0
capillary_refill_time     0
abdominal_distension      0
dtype: int64

In [81]:
#пропуски
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery                298 non-null    float64
 1   Age                    299 non-null    int64
 2   Hospital_Number        299 non-null    int64
 3   rectal_temperature     239 non-null    float64
 4   pulse                  275 non-null    float64
 5   mucous_membranes       253 non-null    float64
 6   capillary_refill_time  267 non-null    float64
 7   abdominal_distension   243 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 18.8 KB

In [84]:
#процент пустых значений
for col in df.columns:
    pct_missing = df[col].isna().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 20.1%
pulse - 8.0%
mucous_membranes - 15.4%
capillary_refill_time - 10.7%
abdominal_distension - 18.7%

In [136]:
df = pd.read_csv('horse_data.csv',na_values='?')
df.columns = ['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 
              'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes','capillary_refill_time', 
              'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 
              'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 
              'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 
              'surgical_lesion', 'type_of_lesion1', 'type_of_lesion2', 'type_of_lesion3', 'cp_data']
horse_data_ = df.iloc[:, [0,1,2,3,4,8,9,12]]

In [137]:
horse_data_.dropna(thresh=6).info() #удалила строки в которых нет хотя бы 6 записей

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 0 to 297
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery                271 non-null    float64
 1   Age                    272 non-null    int64
 2   Hospital_Number        272 non-null    int64
 3   rectal_temperature     225 non-null    float64
 4   pulse                  259 non-null    float64
 5   mucous_membranes       251 non-null    float64
 6   capillary_refill_time  266 non-null    float64
 7   abdominal_distension   240 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 19.1 KB

In [138]:
horse_data_.rectal_temperature.fillna(df.rectal_temperature.median(),inplace=True)
horse_data_.rectal_temperature.fillna(df.rectal_temperature.median()).isna().sum()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

0

In [139]:
horse_data_.pulse.fillna(df.pulse.median(),inplace=True)
horse_data_.pulse.fillna(df.pulse.median()).isna().sum()

0

In [140]:
horse_data_.mucous_membranes.fillna(df.mucous_membranes.mode()[0],inplace=True)
horse_data_.mucous_membranes.fillna(df.mucous_membranes.mode()[0]).isna().sum()

0

In [141]:
horse_data_.capillary_refill_time.fillna(df.capillary_refill_time.mode()[0],inplace=True)
horse_data_.capillary_refill_time.fillna(df.capillary_refill_time.mode()[0]).isna().sum()

0

In [143]:
# мы не можем исключать, что операция была показана тем лошадям, у которых было сильнее вздутие живота

horse_data_.abdominal_distension.fillna(horse_data_.groupby('surgery').abdominal_distension.transform('median'), inplace=True)
print(horse_data_.groupby('surgery').abdominal_distension.median())

surgery
1.0    3.0
2.0    2.0
Name: abdominal_distension, dtype: float64

In [144]:
#процент пустых значений
for col in horse_data_.columns:
    pct_missing = horse_data_[col].isna().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 0.0%
pulse - 0.0%
mucous_membranes - 0.0%
capillary_refill_time - 0.0%
abdominal_distension - 0.0%

In [145]:
print('В самом начале я приняла решение удалить все столбцы, в которых не заполнено, хотя бы 6 значений из 8. Пропуски в столбце "surgery" не были заполнены, так как информация о проведении операции важна и необходима точная информация. В столбцах  "mucous_membranes" и "capillary_refill_time" замена пустых значений модой (категориальные значения), так как эти значения не сильно повлияют на дальнейшие расчеты. Столбцы "pulse", "rectal_temperature"  заменяем медианой, так как они имеют числовые признаки и такием образом искажения данных будет минимально. Так же в столбце  "abdominal_distension" значения заменены медианой, однако перед этим была произведена группировка по тому была ли проведена операция лошади или нет. Я считаю, что можно предположить, что если лошади провели операцию, то у нее были сильнее боли и соответственно вздутие живота')

В самом начале я приняла решение удалить все столбцы, в которых не заполнено, хотя бы 6 значений из 8. Пропуски в столбце "surgery" не были заполнены, так как информация о проведении операции важна и необходима точная информация. В столбцах  "mucous_membranes" и "capillary_refill_time" замена пустых значений модой (категориальные значения), так как эти значения не сильно повлияют на дальнейшие расчеты. Столбцы "pulse", "rectal_temperature"  заменяем медианой, так как они имеют числовые признаки и такием образом искажения данных будет минимально. Так же в столбце  "abdominal_distension" значения заменены медианой, однако перед этим была произведена группировка по тому была ли проведена операция лошади или нет. Я считаю, что можно предположить, что если лошади провели операцию, то у нее были сильнее боли и соответственно вздутие живота